{% extends "base.html" %} {% block title %}Про нас{% endblock %} {% block
content %}
<h1 class="text-3xl font-bold mb-4">Про нас</h1>
<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div>
        <p class="text-lg">
            Ми - команда ентузіастів, які працюють над створенням інноваційних
            рішень. Наша місія - зробити технології доступними та зрозумілими
            для кожного.
        </p>
    </div>

    <div>
        <img
            src="https://picsum.photos/800/600"
            alt="Placeholder"
            class="w-full rounded-lg shadow-md"
        />
    </div>
</div>
{% endblock %}
