{% extends "base.html" %} {% block title %}Про нас{% endblock %} {% block
content %}
<h1 class="text-3xl font-bold mb-4">Про нас</h1>
<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div>
        <p class="text-lg">
            Ми - команда ентузіастів, які працюють для того, щоб кожен мав можливість  
            модифікувати, покращувати свій ПК та все що з ним пов'язано за доступну 
            для кожного ціну.
        </p>
    </div>

    <div>
        <img
            src="{{ url_for('static', filename='b39b2493-1-15564.jpg') }}"
            alt="Placeholder"
            class="w-full rounded-lg shadow-md"
        />
    </div>
</div>
{% endblock %}
