{% extends "base.html" %} {% block title %}Головна{% endblock %} {% block
content %}
<h1 class="text-3xl font-bold mb-4">Ви знаходитесь на головній сторінці</h1>
<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div>
        <img
            src="{{ url_for('static', filename='b39b2493-1-15564.jpg') }}"
            alt="Placeholder"
            class="w-full rounded-lg shadow-md"
        />
    </div>
    <div>
        <p class="text-lg">
            Звідси ви можете перейти до інших вкладок, щоб взнати щось про нас, виконати
            замовлення та інші дії відповідно до натиснутої вкладки
        </p>
    </div>
</div>
{% endblock %}
